.container{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 15px;
}
.btn{
    margin-left: 100px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
}
.link{
    text-align: center;
}
.table{
    margin-left: 100px;
    text-align: center;
    width: 1200px;
}
.fa{
    font-size: 20px;
}
button{
    margin-left: 800px;

}